.home
    position: absolute
    top: 45px
    left: 260px
    right: 0
    bottom: auto
    .header
        width: 100%
        height: 45px
        display: flex
        align-items: center
        justify-content: center
        .title
            font-size: 1.2rem
            font-weight: bold