<div class="nav" (click)="CloseNavBar()">
    <div class="nav-title">
        <app-icon class="icon" icon="fa-bars" (click)="ChangeNavBar()"></app-icon>
    </div>
    <div class="nav-bar" [ngStyle]="{'display': IsNavBar == true? 'flex':''}" (click)="DotTOClick()">
        <div class="nav-bar-item burger-menu">
            <div class="IsSelected"></div>
            <app-icon class="icon" icon="fa-bars"></app-icon>
        </div>
        <div class="nav-bar-item">
                <div class="IsSelected" style="background: #2196f3;"></div>
                <app-icon class="icon" icon="fa-home"></app-icon>
                <div class="title">首页</div>
            </div>
    </div>
</div>

